{% extends (is_granted('ROLE_ADMIN') ? 'admin-' : '') ~ 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>
        {{ (app.user.isAdmin is defined and app.user.isAdmin) ? 'Ajouter un admin' : 'Créer un compte' }}
    </h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}

    {% if registrationForm.plainPassword is defined %}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    {% endif %}

    {% if registrationForm.agreeTerms is defined %}
        {{ form_row(registrationForm.agreeTerms) }}
    {% endif %}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
