{% extends 'base.html.twig' %}

{% block body %}

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    {% for item in listBasket %}

                        <article>
                            <div class="row">

                                <div class="span8">
                                    <div class="post-image">
                                        <div class="post-heading">
                                            <h3>{{ item.product.name }}</h3>
                                        </div>

                                        <img src="img/dummies/blog/img1.jpg" alt="" />
                                    </div>
                                    <div class="meta-post">
                                        <ul>
                                            <li><i class="icon-file"></i></li>
                                            <li>By <a href="#" class="author">{{ item.product.createdBy.email }}</a></li>
                                            <li>On <a href="#" class="date">{{ item.product.createdAt | date('d-m-Y') }}</a></li>
                                            <li>Prix: {{ item.product.price }}</li>
                                            <li>Quantity: {{ item.quantity }}</li>
                                        </ul>
                                    </div>
                                    <div class="post-entry">
                                        <p>{{ item.product.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
